[server]
hostname = "localhost"
node_ip = "127.0.0.1"
base_path = "https://$ref{server.hostname}:${carbon.management.port}"

[super_admin]
username = "admin"
password = "admin"
create_admin_account = true

[user_store]
type = "database_unique_id"
###Configurations for more user store types
#connection_url = "ldap://localhost:${Ports.EmbeddedLDAP.LDAPServerPort}"
#connection_name = "uid=admin,ou=system"
#connection_password = "admin"
#base_dn = "dc=wso2,dc=org"
[user_store.properties]
CaseInsensitiveUsername = false
SCIMEnabled=true
IsBulkImportSupported=false

#[realm_manager]
#data_source = "WSO2USER_DB"

[database.identity_db]
driver = "com.mysql.jdbc.Driver"
url = "jdbc:mysql://wso2isdbinstance2.cd3cwezibdu8.us-east-1.rds.amazonaws.com:3306/IDENTITY_DB?useSSL=false&amp;rewriteBatchedStatements=true"
validation_query = "SELECT 1"
username = "wso2carbon"
password = "wso2carbon"
[database.identity_db.pool_options]
maxActive = "300"

[database.shared_db]
driver = "com.mysql.jdbc.Driver"
url = "jdbc:mysql://wso2isdbinstance2.cd3cwezibdu8.us-east-1.rds.amazonaws.com:3306/REG_DB?useSSL=false&amp;rewriteBatchedStatements=true"
validation_query = "SELECT 1"
username = "wso2carbon"
password = "wso2carbon"
[database.shared_db.pool_options]
maxActive = "300"

[database.user]
driver = "com.mysql.jdbc.Driver"
url = "jdbc:mysql://wso2isdbinstance2.cd3cwezibdu8.us-east-1.rds.amazonaws.com:3306/UM_DB?useSSL=false&amp;rewriteBatchedStatements=true"
validation_query = "SELECT 1"
username = "wso2carbon"
password = "wso2carbon"
[database.user.pool_options]
maxActive = "300"

[transport.http]
maxThreads = "500"
acceptCount = "500"

[transport.https]
maxThreads = "500"
acceptCount = "500"

[authentication.consent]
prompt = true

[admin_service]
wsdl.enable=false

[keystore.primary]
file_name = "wso2carbon.jks"
password = "wso2carbon"
type="JKS"

[truststore]
file_name="client-truststore.jks"
password="wso2carbon"
type="JKS"

[clustering]
#membership_scheme = true
#domain = "is590.qa.com"
membership_scheme = "wka"
local_member_host = "member_ip_1"
localMemberPort = "4000"
members = ["member_ip_2:4000", "member_ip_1:4000"]
